<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.camden.barcodetest"
        versionCode="10" 
        version   = "1.0.0">

    <preference name="phonegap-version" value="2.7.0" />

    <name>Barcode Test</name>

    <description>
		Test Barcode Plugin
    </description>

    <gap:plugin name="BarcodeScanner" /> 
</widget>