<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.camden.rsslab"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>RSSLab</name>

    <description>
		Sweet RSS demo
    </description>

    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
		
</widget>